<nav>
  <a href="/">
    <img src="/assets/images/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2><a href="/">{{ site.name }}</a></h2>

  <hr/>

  <ul>
  <p>{{ site.tagline }}</p>
  <hr/>

  <h3>Contact</h3>
  <p><a href="mailto:{{ site.author.email }}">e-mail</a></p>
  <p><a href="/resume.html">r&eacute;sum&eacute;</a></p>
  <p><a href="https://github.com/{{ site.author.github }}">github profile</a></p>

  <h3>Navigation</h3>
  <p><a href="/">home</a></p>
  <p><a href="/archive.html">all posts</a></p>
  <p><a href="/camera.html">gbcamera</a></p>
  </ul>

  <hr/>

  <h3>Recent Posts</h3>
  <ul>
  {% for post in site.posts %}
  <li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</nav>