<table style="width: 100%;"><tr>
<td>Contact:</td>
<td><div id="stalker">
  <a title="{{ site.author.github }} on Github" href="https://github.com/{{ site.author.github }}">
    <i class="fa fa-github-square"></i>
  </a>

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>

  <a title="E-Mail" href="mailto:{{ site.author.email }}">
    <i class="fa fa-envelope"></i>
  </a>
</div></td>
</tr><tr>
<td>3DS FC:</td>
<td><code>5086 2544 8580</code></td>
</tr></table>