Contact:
<div id="stalker">
  <a title="{{ site.author.github }} on Github" href="https://github.com/{{ site.author.github }}">
    <i class="fa fa-github-square"></i>
  </a>

  <a title="{{ site.author.name }} on Google Plus" href="{{ site.author.gplus }}">
    <i class="fa fa-google-plus-square"></i>
  </a>

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>

  <a title="E-Mail" href="mailto:{{ site.author.email }}">
    <i class="fa fa-envelope"></i>
  </a>
</div>